.toolbar {
    -fx-background-color: #8fbc8f;
}

.console {
   -fx-background-color: #D3D3D3;
    -fx-min-height: 200px;
    /*-fx-border-color: gray;*/
}

/*.console #console_title {
    -fx-background-color: #808080;
    -fx-alignment: center;
}*/

.console #console {
    -fx-background-color: #808080;
    -fx-control-inner-background: white;
}

.content #console_content {
    -fx-background-color: white;
    -fx-wrap-text: true;
}

.sidebar {
    /*-fx-pref-width: 100px;
    -fx-pref-height: 100%;*/
}

.sidebar Label {
    /*-fx-min-width: 100px;*/
    -fx-alignment: center;
    -fx-background-color: #CCFF99;
}
.right {
}